<!doctype html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>首页</title>

    <link rel="stylesheet" href="/static/style/style.css">
</head>
<body>
    <h1>首页</h1>
    <ul class="main-menu">
        <li><a class="main-btn" href="{{ url_for('entry_input') }}">数据录入</a></li>
        <li><a class="main-btn" href="{{ url_for('prompt_output') }}">数据输出</a></li>
        <li><a class="main-btn" href="{{ url_for('entry_editor') }}">数据编辑器</a></li>
    </ul>
</body>
</html>